<!-- Portfolio Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].beauty-services.section | default: "beauty-services" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].beauty-services.title | markdownify | default: "Beauty Services" }}</h2>
      </div>
    </div>
    <div class="row">
	{% for service in site.beauty-services %}
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#b{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ service.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h6>{{ service.caption.title }}</h4>
          <p class="text-muted">{{ service.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.beauty-services.section | default: "beauty-services" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.beauty-services.title | markdownify | default: "Beauty Services" }}</h2>
      </div>
    </div>
    <div class="row">
	{% for service in site.beauty-services %}
      <div class="col-md-3 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#b{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ service.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h6>{{ service.caption.title }}</h4>
          <p class="text-muted">{{ service.caption.subtitle }}</p>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% include beauty_services_modals.html %}