// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;

  .intro-text {
    padding-top: 350px;
    padding-bottom: 350px;

    .intro-lead-in {
      font-size: 60px;
      font-style: normal;
      margin-bottom: 25px;
      color: $primary;
      @include script-font;
      p {
        line-height: 15px;
      }
    }

    .intro-heading {
      font-size: 15px;
      font-weight: 700;
      margin-bottom: 25px;
      color: white;
      @include heading-font;
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 400px;
      padding-bottom: 400px;

      .intro-lead-in {
        font-size: 90px;
        font-style: normal;
        margin-bottom: 25px;
        color: $primary;
        @include script-font;
        p {
          line-height: 50px;
        }
      }

      .intro-heading {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 50px;
        color: white;
        @include heading-font;
      }
    }
  }
}
